body{
    background-color:#9bd1f7;
    margin: 0;
    display: flex;
        align-items: center;
        flex-direction: column;
            font-family: sans-serif;
  }

  p{
    margin: 0;
  }

  h2{
    margin: 0;
  }

  header {
    padding: 20px;
    width: 100%;
        box-sizing: border-box;
        height: -webkit-fill-available;
    align-content: center;
    justify-items: center;
}

#game-lobby-container {
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

#auth-container {
    gap: 10px;
    flex-direction: column;
}

#game-container {
    width: 100%;
    justify-content: space-between;
}

.board {
    width: 90vw;
    height: 90vw;
    position: relative;
    justify-self: center;
    position-area: center;
    display: grid;
    grid-gap: 0;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    aspect-ratio: 1;
    display: grid;
    grid-gap: 0;
    display: none;
}

.box{
    background-color:white;
}

.even{
    background-color:#9bd1f7;
}

.player_1{
    background-color:#ea5454;
}

.player_2{
    background-color:#6bca57;
}
